# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kdirstat -caption "%c" %i %m  
Icon=kdirstat.png
MiniIcon=kdirstat.png
DocPath=kdirstat/index.html
Comment=Directory statistics and disk usage
Comment[de]=Verzeichnisstatistik und Platzverbrauch
Terminal=0
Name=KDirStat - Directory Statistics
Name[de]=KDirStat - Verzeichnisstatistik

MimeType=inode/directory



