<!-- Emacs: -*-xml-*-	 [must remain in first line!]	-->
<!--							-->
<!-- XML GUI description file for KDirStat		-->
<!--							-->
<!-- Author:	Stefan Hundhammer (sh@suse.de)		-->
<!-- Updated:	2004-12-06				-->


<!DOCTYPE kpartgui>

<!-- DOCTYPE kpartgui SYSTEM "kpartgui.dtd" would be correct, but		-->
<!-- unfortunately, the DTD isn't installed anywhere, so this only confuses any -->
<!-- XML/SGML tools like Emacs PSGML mode :-(					-->


<kpartgui name="kdirstat" version="1.8.2">


    <MenuBar>

	<Menu name="file" noMerge="1"> <text>&amp;File</text>
	    <Action name="file_open" />
	    <Action name="file_open_url" />
	    <Action name="file_open_recent" />
	    <Action name="file_refresh_all"/>
	    <Action name="file_refresh_selected"/>
	    <Action name="file_continue_reading_at_mount_point"/>
	    <Action name="file_stop_reading"/>
	    <Separator/>
	    <Action name="file_close"/>
	    <Action name="file_quit"/>
	</Menu>

	<Menu name="cleanup" noMerge="1"> <text>Clean &amp;Up</text>
	    <TearOffHandle/>
	    <Action name="cleanup_open_with"/>
	    <Separator/>
	    <Action name="cleanup_open_in_konqueror"/>
	    <Action name="cleanup_open_in_terminal"/>
	    <Action name="cleanup_compress_subtree"/>
	    <Action name="cleanup_make_clean"/>
	    <Action name="cleanup_delete_trash"/>
	    <Action name="cleanup_move_to_trash_bin"/>
	    <Action name="cleanup_hard_delete"/>
	    <Separator/>
	    <Action name="cleanup_user_defined_0"/>
	    <Action name="cleanup_user_defined_1"/>
	    <Action name="cleanup_user_defined_2"/>
	    <Action name="cleanup_user_defined_3"/>
	    <Action name="cleanup_user_defined_4"/>
	    <Action name="cleanup_user_defined_5"/>
	    <Action name="cleanup_user_defined_6"/>
	    <Action name="cleanup_user_defined_7"/>
	    <Action name="cleanup_user_defined_8"/>
	    <Action name="cleanup_user_defined_9"/>
	</Menu>

	<Menu name="treemap" noMerge="1"> <text>&amp;Treemap</text>
	    <TearOffHandle/>
	    <Action name="options_show_treemap"/>
            <Separator/>
	    <Action name="treemap_zoom_in"/>
	    <Action name="treemap_zoom_out"/>
	    <Action name="treemap_select_parent"/>
	    <Action name="treemap_rebuild"/>
            <Separator/>
	    <Action name="treemap_help"/>
	</Menu>

	<Menu name="settings" noMerge="1"> <text>&amp;Settings</text>
            <Action name="options_show_treemap"/>
	    <Action name="options_show_toolbar"/>
	    <Action name="options_show_statusbar"/>
	    <Action name="options_configure"/>
	</Menu>

	<Menu name="report" noMerge="1"> <text>&amp;Report</text>
	    <Action name="report_mail_to_owner"/>
	</Menu>


	<Menu name="help" noMerge="1"> <text>&amp;Help</text>
	    <Action name="help_contents"/>
	    <Action name="help_whats_this"/>
	    <Separator/>
	    <Action name="help_report_bug"/>
	    <Action name="help_send_feedback_mail"/>
	    <Separator/>
	    <Action name="help_about_app"/>
	    <Action name="help_about_kde"/>
	</Menu>

    </MenuBar>


    <ToolBar name="mainToolBar" fullWidth="true" noMerge="1"> <text>Main Toolbar</text>
	<Action name="file_open"			group="file_operations" />
	<Action name="file_refresh_all"			group="file_operations" />
	<Action name="file_stop_reading"		group="file_operations" />
	<Separator/>
	<Action name="edit_copy"			group="edit_operations" />
        <Action name="report_mail_to_owner"		group="report_operations"/>
	<Separator/>
	<Action name="cleanup_open_in_konqueror"	group="cleanup_operations"/>
	<Action name="cleanup_open_in_terminal"		group="cleanup_operations"/>
	<Action name="cleanup_compress_subtree"		group="cleanup_operations"/>
	<Action name="cleanup_move_to_trash_bin"	group="cleanup_operations"/>
        <Action name="cleanup_hard_delete"              group="cleanup_operations"/>
	<Separator/>
        <Action name="treemap_zoom_in"			group="treemap_operations"/>
	<Action name="treemap_zoom_out"			group="treemap_operations"/>
    </ToolBar>



    <!-- Context menu for the tree view -->

    <Menu name="treeViewContextMenu" noMerge="1">
	<Action name="edit_copy" />
	<Action name="report_mail_to_owner"/>
	<Separator/>
	<Action name="file_refresh_all"/>
	<Action name="file_refresh_selected"/>
	<Action name="file_continue_reading_at_mount_point"/>
	<Separator/>
        <Action name="cleanup_open_with"/>
	<Separator/>
	<Action name="cleanup_open_in_konqueror"/>
	<Action name="cleanup_open_in_terminal"/>
	<Action name="cleanup_compress_subtree"/>
	<Action name="cleanup_make_clean"/>
	<Action name="cleanup_delete_trash"/>
	<Action name="cleanup_move_to_trash_bin"/>
        <Action name="cleanup_hard_delete"/>
	<Separator/>
	<Action name="cleanup_user_defined_0"/>
	<Action name="cleanup_user_defined_1"/>
	<Action name="cleanup_user_defined_2"/>
	<Action name="cleanup_user_defined_3"/>
	<Action name="cleanup_user_defined_4"/>
	<Action name="cleanup_user_defined_5"/>
	<Action name="cleanup_user_defined_6"/>
	<Action name="cleanup_user_defined_7"/>
	<Action name="cleanup_user_defined_8"/>
	<Action name="cleanup_user_defined_9"/>
    </Menu>


    <!-- Context menu for the treemap -->

    <Menu name="treemapContextMenu" noMerge="1">
	<Action name="treemap_zoom_in" />
	<Action name="treemap_zoom_out"/>
	<Action name="treemap_select_parent"/>
	<Action name="treemap_rebuild"/>
	<Separator/>
        <Action name="treemap_help"/>
	<Separator/>
	<Action name="file_refresh_all"/>
	<Separator/>
        <Action name="cleanup_open_with"/>
	<Separator/>
	<Action name="cleanup_open_in_konqueror"/>
	<Action name="cleanup_open_in_terminal"/>
	<Action name="cleanup_compress_subtree"/>
	<Action name="cleanup_make_clean"/>
	<Action name="cleanup_delete_trash"/>
	<Action name="cleanup_move_to_trash_bin"/>
        <Action name="cleanup_hard_delete"/>
	<Separator/>
	<Action name="cleanup_user_defined_0"/>
	<Action name="cleanup_user_defined_1"/>
	<Action name="cleanup_user_defined_2"/>
	<Action name="cleanup_user_defined_3"/>
	<Action name="cleanup_user_defined_4"/>
	<Action name="cleanup_user_defined_5"/>
	<Action name="cleanup_user_defined_6"/>
	<Action name="cleanup_user_defined_7"/>
	<Action name="cleanup_user_defined_8"/>
	<Action name="cleanup_user_defined_9"/>
    </Menu>


    <!-- Emacs Customization			-->
    <!-- Local Variables:			-->
    <!--	sgml-indent-step:	4	-->
    <!-- End:					-->

</kpartgui>
