[Desktop Entry]
Name=k4dirstat
Name[ca]=k4dirstat
Name[ca@valencia]=k4dirstat
Name[cs]=k4dirstat
Name[da]=k4dirstat
Name[de]=k4dirstat
Name[el]=k4dirstat
Name[en_GB]=k4dirstat
Name[eo]=k4dirstat
Name[es]=k4dirstat
Name[et]=k4dirstat
Name[fr]=k4dirstat
Name[ga]=k4dirstat
Name[gl]=k4dirstat
Name[hu]=k4dirstat
Name[it]=k4dirstat
Name[ja]=k4dirstat
Name[km]=k4dirstat
Name[ko]=k4dirstat
Name[lv]=k4dirstat
Name[nb]=k4dirstat
Name[nds]=k4dirstat
Name[nl]=k4dirstat
Name[nn]=k4dirstat
Name[pa]=k4dirstat
Name[pl]=k4dirstat
Name[pt]=k4dirstat
Name[pt_BR]=k4dirstat
Name[ro]=k4dirstat
Name[ru]=k4dirstat
Name[sr]=k4dirstat
Name[sr@ijekavian]=k4dirstat
Name[sr@ijekavianlatin]=k4dirstat
Name[sr@latin]=k4dirstat
Name[sv]=k4dirstat
Name[tr]=k4dirstat
Name[uk]=k4dirstat
Name[x-test]=xxk4dirstatxx
Name[zh_CN]=k4dirstat
Name[zh_TW]=k4dirstat
Exec=k4dirstat %i -caption "%c"
Icon=k4dirstat
Type=Application
X-DocPath=k4dirstat/index.html
GenericName=A KDE4 Application
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
